:root {
  --card-bg: #fff;
  --card-border: #ddd;
  --card-hover-bg: #f0f8ff;
  --primary-color: #007bff;
  --secondary-color: #333;
  --text-muted: #777;
}
.form-container {
  background: #fff;
  padding: 20px;
  margin: auto;
  padding-top: 2rem;
  border-radius: 10px;
  width: fit-content;
  max-width: 1000px;
  display: flex;
  margin: auto;
  justify-content: center;
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #333;
  }
  .div_form {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    height: 40vh;
    width: fit-content;
  }
}

.form-group {
  margin-bottom: 15px;
  label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    justify-content: center;
  }
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
  height: 100px;
}
form{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  button{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }
}
.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #0056b3;
  }
}

#salesForm {
  display: flex;
  justify-content: space-around;
  /* gap: 1rem; */
  .div_form {
    width: 10rem;
  }
}

/* Componente View */
.client-container {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
}

.sales-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-card {
  padding: 15px;
  border: 1px solid var(--card-border);
  border-radius: 8px;
  background: var(--card-bg);
  transition: background-color 0.3s ease;
  margin: auto;
  max-width: 600px;
  cursor: pointer;
  &:hover {
    background-color: var(--card-hover-bg);
  }

  h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: var(--text-muted);

    strong {
      color: var(--secondary-color);
    }
  }

  h3 {
    margin-top: 15px;
    color: var(--secondary-color);
    font-size: 1.1em;
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }
}
