:root {
  --card-bg: #fff;
  --card-border: #ddd;
  --card-hover-bg: #f0f8ff;
  --primary-color: #007bff;
  --secondary-color: #333;
  --text-muted: #777;
}


/* Componente View */
.client-container {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
}

.sales-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-card {
  padding: 15px;
  border: 1px solid var(--card-border);
  border-radius: 8px;
  background: var(--card-bg);
  transition: background-color 0.3s ease;
  margin: auto;
  max-width: 600px;
  cursor: pointer;
  &:hover {
    background-color: var(--card-hover-bg);
  }

  h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: var(--text-muted);

    strong {
      color: var(--secondary-color);
    }
  }

  h3 {
    margin-top: 15px;
    color: var(--secondary-color);
    font-size: 1.1em;
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }
}
  .multiselect_style{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
  }